[submodule "tc-traffic-stat/bpf/libbpf"]
	path = tc-traffic-stat/bpf/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "kvm_test/kvm-kernel-example"]
	path = kvm_test/kvm-kernel-example
	url = git@github.com:david942j/kvm-kernel-example.git
